.completed {
  text-decoration: line-through;
}

.todo-list {
  list-style: none;
}

.todo-container {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
}

.no-button {
  /* 枠線を消す */
  border: none;
  /* クリックしたときに表示される枠線を消す */
  outline: none;
  /* 背景の灰色を消す */
  background: transparent;
}

.todo-list-area {
  width: 200px;
  height: 30px;
  color: #03135a;
  border-style: solid;
  border-width: 0.1px;
  border-color: #bdc7d8;
}

.todo-list-button-area {
  padding: 0px 10px;
  margin: 0px 10px;
}
.todo-list-button {
  color: #181818;
  background-color: #be4b49;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.todo-button {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  line-height: 126%;
  margin: 20px;
}

.todo-font {
  font-size: 18px;
  padding: 8px 10px;
}
.width-172 {
  width: 172px;
  border-color: #bdc7d8;
  border-radius: 5px;
  margin: 0;
}

.width-377 {
  border-color: #bdc7d8;
  border-radius: 5px;
  margin: 0;
  width: 377px;
}
